/*Body*/
.dd {
  background-color:black;
  font-family:sans-serif;
}

h1,h2,h3,h2{
	color:lightgray;
	letter-spacing: 2px;
	text-transform: capitalize;
}
p{
	color:gray;
	letter-spacing: 2px;
	text-transform: capitalize;
}
.menu{
	margin-left: 120px;
	text-align: center;
	text-transform: capitalize;
}
@media screen and (max-width: 612px){
	.menu{
		margin-left: 5px;
	}
}

/*Nav bar*/
#a{
	width: 120px;
	background-color: black;
	position:fixed;
	height: 100%;
	align-self: center;
	text-align: center;
}


.b{
	opacity: 0.5;
	color: white;
}
.b:hover{
	opacity: 1;
	background-color:none;
	color:gray;
}
.b:active{
	opacity:1;
}
@media screen and (max-width: 612px){
	.an{
		display:none;
	}
}
@media screen and (min-width: 612px){
	.ann{
		display:none;
	}
}

/*Header*/
.c{
	letter-spacing: 5px;
	position: relative;
	padding: 10px;
	color: gray;

}

@media screen and (max-width: 612px){
	.c{
		font-size: 100%; 
	}
}
#c{
	font-size: 500%;
 letter-spacing: 8px;
 color: white;
}
@media screen and (max-width: 650px){
	#c{
		font-size: 300%;
	
	}
}
/*About*/
.menu1{
	padding-left:100px;
	text-align:left;
	padding-right:50px; 
}
@media screen and (max-width: 612px){
	.menu1{
		padding-left:25px; 
	}
}
.d{
	padding-left: 120px;
}
/*photos*/
.e{
	width: 800px;
	height: 600px;
	object-fit: contain;

}